.container {
    display: grid;
    grid-template-rows: 70px auto 100px;
    overflow: hidden;
    height: 100vh;
}

.top_container {
    display: flex;
    padding: 15px;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid var(--secondary);
}

.middle_container {
    padding: 15px 10px 15px 10px;
    overflow: auto;
    position: relative;
}

.bottom_container {
    background-color: var(--bg-grey);
    padding: 25px;
    position: relative;
    border-top: 1px solid var(--secondary);
}

.form__input {
    border-radius: var(--radii-sm);
    border: 1px solid var(--secondary);
    height: 50px;
    padding: 10px;
    width: 100%;
    padding-left: 25px;
    color: var(--secondary-grey);
    font-size: 17px;
    font-family: var(--family);
}

.send_icon {
    position: absolute;
    color: var(--secondary-grey);
    font-size: 20px;
    border: none;
    background-color: var(--bg-white);
    right: 35px;
    top: 35px;
    cursor: pointer;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.title {
    font-size: 20px;
}

.messages_list {
    bottom: 0;
    width: 97.5%;
}
